
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 font-family: "Kite One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(#601945, #e3bdbd, #7b0768);
  color: color: #f5f5f5;
}

header {
  background-color: #000;
  color: #ba63ba;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .logo {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #8b0992;
}

section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}


.projetos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projetos1 img {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.projetos1 img:hover {
  transform: scale(1.05);
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}

input, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button, .botao-sugestao {
  transition: background-color 0.3s, color 0.3s;
}



button {
  padding: 10px;
  background-color:#8b0992;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #390f32;
  color: rgb(159, 83, 83);
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

footer {
  background-color: #060000;
  color: white;
  text-align: center;
  padding: 15px;
}


@media (max-width: 768px) {
  header {
    justify-content: center;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .projetos1 {
    flex-direction: column;
    align-items: center;
  }
}

.botao-sugestao {
  padding: 10px 20px;
  background-color: #390f32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.botao-sugestao:hover {
  background-color: #6b115a;
  color: #e3bdbd;
}
